# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# =====================================
# Testing
# =====================================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# =====================================
# Type Checking / Linting
# =====================================
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

# =====================================
# Environment Variables
# =====================================
.env
.env.*
!.env.example

# =====================================
# IDE
# =====================================
.vscode/
.idea/

# =====================================
# Operating System
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Build
# =====================================
build/
dist/
*.egg-info/
pip-wheel-metadata/

# =====================================
# SQLite
# =====================================
*.sqlite3

# =====================================
# Temporary
# =====================================
*.tmp
*.bak

# =====================================
# Docker
# =====================================
*.pid